.bg-yellow {
	background-color: #fcd232;
}
.bg-red {
	background-color: #eb3b3b;
}
.bg-red2 {
	background-color: #ff1300;
}
.bg-black {
	background-color: #302f38;
}
.color-red2 {
	color: #ff1300;
}
.bg-black .container .row .col-12 label:hover {
	cursor: pointer;
}
input[type='checkbox'] {
	border: none;
	accent-color: #302f38;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 30px;
	width: 30px !important;
	border-radius: 50%;
}
input[type='checkbox']:checked {
	background-color: rgba(190, 215, 243, 0.2);
	background: url(./images/correct.png) 50% 50% no-repeat;
	background-color: rgba(190, 215, 243, 0.2);
	background-size: contain;
}
